<?xml version="1.0" encoding="utf-8"?>
<!--
  Copyright (c) Akveo 2019. All Rights Reserved.
  Licensed under the Single Application / Multi Application License.
  See LICENSE_SINGLE_APP / LICENSE_MULTI_APP in the ‘docs’ folder for license information on type of purchased license.
-->
<configuration>
  <connectionStrings>
    <add name="localDb" connectionString=""/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
